* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9BB2FF;
  min-height: 100vh;
}

main {
  background-image: url(../Imagenes/FondoWave.png);
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-position: bottom;
  min-height: 100vh;
}

header {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

header button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  transition: transform .5s;
}

header button:hover {
  transform: translateY(-5px);
}

h1 {
  margin: 10px 5px;
  font-weight: 500;
  color: #1E1228;
}

#Hero {
  display: flex;
  height: 100%;
  width: 95vw;
  flex-direction: column;
}

.Hero__article {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.Hero__article-div {
  background: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  min-width: 300px;
  border-radius: 10px;
  transition: transform .5s;
}

.Hero__article-div:hover {
  transform: translateY(-5px);
}

.Hero__article-div-img {
  height: 70px;
  align-self: flex-start;
  margin: 0 20px;
}

.Hero__article-div-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
} 

.Hero__article-div-div img {
  height: 50px;
  cursor: pointer;
}

.fa-location-dot {
  font-size: 40px;
}

.fa-plus {
  font-size: 80px;
  font-weight: 100;
}

.fa-circle-user {
  font-size: 60px;
  color: #22007E;
}


#Main__img {
  width: 100%;
}
